// ===== COLORS
$color-negro: #14141490;
$color-blanco: #f0f0f0;
$color-primario: #ffc0cb;
$color-secundario: #c71585;

// ===== BOX
$box-border: 1px solid $color-negro;
$box-radius: 0.7em;
$box-blur: 12px;
$box-bg: #ffffff10;

// ===== TRANSITIONS
$transition-time: 0.4s;
$transition-hover: 0.25s;
