@charset "UTF-8";
/*
  Con este reset vamos a resolver:
    👉 Unificar el uso de Custom Properties
    👉 Problemas de box-model más generales
    👉 Problemas con imagenes, vídeos e iconos svg
    👉 Problemas con tipografías y etiquetas input en formularios
    👉 Unificar la tipografía de todas las etiquetas de una web
*/
/* Aquí definimos las Custom properties */
:root {
  /* Colores */
  /* Tipografías */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* Las adaptamos al modo oscuro */
/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  line-height: 1em;
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  /* opcional */
  /* opcional */
  /* -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; */
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: url("../images/background.png") center/cover no-repeat;
}

section p:not(:last-child) {
  padding-bottom: 1em;
}

.container {
  margin: 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.search {
  padding: 0em 3em 1em;
  box-shadow: 0 0 0.8em 0.1em rgba(3, 48, 76, 0.6);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background-color: rgba(255, 255, 255, 0.062745098);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search__input {
  margin-bottom: 1em;
  padding: 1em 1em 0.4em;
  border-bottom: 1px solid black;
  outline: none;
  text-align: center;
}
.search__input::placeholder {
  color: black;
}
.search__btn {
  padding: 0.5em 2em;
  background-color: #87cefa;
  border: 1px solid black;
  border-radius: 0.3em;
  box-shadow: 0 0 0.8em 0.1em rgba(3, 48, 76, 0.6);
  transition: 0.1s all ease-in-out;
}
.search__btn:hover {
  color: white;
  background-color: #03304c;
}

.current {
  margin: 1em;
  padding: 2em 1em;
  box-shadow: 0 0 0.8em 0.1em rgba(3, 48, 76, 0.6);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background-color: rgba(255, 255, 255, 0.062745098);
}
.current__title {
  padding-bottom: 0.5em;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.current-condition__content {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.current-condition__icon {
  width: 5em;
  height: 5em;
}

.h2 {
  padding: 0.5em 2em;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  border-radius: 0.3em;
  box-shadow: 0 0 0.8em 0.1em rgba(3, 48, 76, 0.6);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background-color: rgba(255, 255, 255, 0.062745098);
}

.forecasts {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forecast {
  margin: 1em;
  padding: 2em 1em;
  box-shadow: 0 0 0.8em 0.1em rgba(3, 48, 76, 0.6);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background-color: rgba(255, 255, 255, 0.062745098);
}
.forecast__title {
  padding-bottom: 0.5em;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
}

.condition__content {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.condition__icon {
  width: 5em;
  height: 5em;
}

@media (min-width: 1024px) {
  .forecasts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

/*# sourceMappingURL=main.css.map */
