body {
  max-height: 100vh;

  background: url('https://images.unsplash.com/photo-1497384401032-2182d2687715?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80')
    center center;
  background-size: cover;

  display: grid;
  place-items: center;

  transition: $transition-time background ease-out;
}
